body.dark{
background:#0f172a;color:#fff;font-family:sans-serif
}
.center{
display:flex;justify-content:center;align-items:center;height:100vh
}
.login-box,.profile-box{
background:#020617;
padding:30px;
border-radius:14px;
box-shadow:0 0 40px #22c55e;
width:320px
}
input,textarea{
width:100%;margin:6px 0;
padding:10px;border-radius:8px;border:none
}
button{
width:100%;padding:10px;
background:#22c55e;border:none;border-radius:8px;
font-weight:bold
}
textarea{height:80px}
